process.executor = 'slurm'

executor {
    name = 'slurm'
    queue = 'hns,owners'
    queueSize = 200
    pollInterval = '30 sec'
    clusterOptions = '--no-requeue'
}

params {
  regionTasks           = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/region_tasks.txt'
  regionTasksGATK       = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/region_tasks_gatk.txt'
  regionTasksFreebayes  = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/region_tasks_freebayes_200.txt'
  genome                = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000464555.1_PanTig1.0_genomic.fna'
  genomeFile            = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000464555.1_PanTig1.0_genomic.fna'
  genomeIndex           = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000464555.1_PanTig1.0_genomic.fna.fai'
  genomeDict            = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000464555.1_PanTig1.0_genomic.fna.dict'
  genomeBase            = 'GCF_000464555.1_PanTig1.0_genomic.fna'
  genomeDir             = '/scratch/PI/dpetrov/2016-tiger-wgs/reference'
  picardDir             = '/scratch/PI/dpetrov/local/opt'
  gatkDir               = '/scratch/PI/dpetrov/local/opt'
}

